# Define todos os arquivos CSS na pasta CSS como CSS.
CSS/*.css linguist-language=CSS

# Define um ou mais arquivos CSS específicos como CSS.
CSS/style.css linguist-language=CSS

# Isso vai vedar o contato de stack do GitHub de considerar na contagem do projeto.
# Por exemplo, se você não deseja que os arquivos CSS sejam contados para as estatísticas de linguagem.
CSS/* linguist-vendored
