                /*SELETORES*/

*{ /*SELETOR UNIVERSAL - TODA A PÁGINA*/
    margin: 0;
    padding: 0;
}

input[type="nome"], 
h1[class="titulo"]{ /*informar no []  atributo e o valor que o elemento precisa ter*/
    background-color: crimson; /*alterando cor de fundo do input especifico - com "nome"*/
}

h1,h2,h3{/*EXEMPLO DE SELETOR DE TEXTO*/
}

.container{/*SELETOR UNIVERSAL - TODA A PÁGINA*/
}

p.azul{   /*SELETOR DE CLASSE DENTRO DE ELEMENTO (NO CASO, PARAGRAFO COM CLASSE AZUL)*/
}

p .azul{   /*SELETOR DE CLASSE DENTRO DE ELEMENTO (NO CASO, PARAGRAFO COM UM ELEMENTO C/ CLASSE AZUL DENTRO DELE, EX: <p><a class="azul"></a></p>)*/
}

#cabecalho { /*SELECIONA PELO ID*/
} 

li>a { /*SELECIONA O FILHO DIRETO (NO CASO, LINK DENTRO DA LISTA)*/     
}


p a { /*SELECIONA TODOS OS DESCENDENTES (NO CASO, ESTILO EM TODOS OS LINKS QUE ESTIVEREM DENTRO DE UM PARAGRAFO)*/
} 

h1+p { /*SELECIONA O PRÓXIMO IRMÃO ADJACENTE (NO CASO, H1 ESTÁ EM UMA LINHA ACIMA DE P - LOGO, SE TIVER 2 P o segundo P não será estilizado, somente o primeiro, que é adjacente de h1)*/
}

h1~p{ /*SELECIONA O IRMÃO GERAL (MÚLTIPLOS) - NO CASO, TODOS OS PARAGRAFOS DEPOIS DE H1,
       INDEPENDENTE DA ORDEM DA LINHA OU SE VEM ALGO DIFERENTE DE P DEPOIS DE H1 - NÃO SELICIONA PARAGRAFOS QUE ESTÃO ANTES H1-*/
}

/*ORDEM DE PRIORIDADE DOS SELETORES: IF>ATRIBUTO/CLASS>TAG>UNIVERSAL*/
/*# = ID;   . = CLASS; : = ESTADO; [] = ATRIBUTO; * = TOTAL;*/






                /*UNIDADES DE MEDIDA*/

p{
    font-size: 16px; /*px = unidade absoluta - não se altera - pode acabar atrapalhando na acessibilidade*/
    font-size: 1em; /*em = relativa ao elemento pai - multiplica o valor de referencia - tambem se adapta caso o usuario altere o tamanho da fonte do proprio navegador*/
    /*Se o elemento pai tiver 30px o o elemento filho tiver 2em, o filho terá 60px*/
    
    font-size: 16rem; /*rem = unidade relativa ao elemento raiz do HTML - no caso, a propria tag HTML -> só muda se houver alguma alteração na tag HTML ou caso o usuario altere o tamanho da fonte do navegador*/
    /*rem e o px são os mais utilizados*/

    font-size: 60vh; /*vv = referente a altura da tela (no caso, ocupando 60% da altura da tela)*/
    font-size: 80vw; /*vv = referente a largura da tela (no caso, ocupando 60% da largura da tela)*/

    font-size: 60ch; /*ch = caracteres de largura (do caracter 0) no maximo*/
}




                /*Cascata (ordem de que se coloca algo)*/

h1{
    color: red;
}

  
h1{
    color: green; /*a cor a ser atribuida ao h1 será verde - ignorando a cor vermelha - pois o que vem depois tem mais prioridade*/
}




  /*Especificidade*/
h1{
    color: red;
}

.textoComClasseH1{
    color: blue; /*a cor a ser atribuida ao h1 será azul - ignorando a cor vermelha e verde - pois especificidade (a classe) tem mais tem mais prioridade*/
}
  
h1{
    color: green; 
}





/*ORDEM DE PRIORIDADE (do MAIS ao MENOS): 
Inline (style=" ") -> ID (#) -> Classes, Atributos e Pseudo-Classes (. :: [ ]) -> Elementos e Pseudo-Elementos ( : <>)


<p>Parágrafo teste </p>

                    prioridade (da Menor a Maior)
P {}               ➔ 0-0-0-1
P::before {}       ➔ 0-0-0-2
.destaque {}       ➔ 0-0-1-0
#destaque {}       ➔ 0-1-0-0
#destaque p {}     ➔ 0-1-0-1
(inline) style=*   ➔ 1-0-0-0
!important         ➔ ignora todas as anteriores e se torna prioridade

*/





                /* Herança*/
/*

    <div>          -> pai
        <p></p>    -> filho 
        <h1></h1>  -> filho e irmão adjacente de <p>
    </div>
*/


