* {
  margin: 0;
  padding: 8;
  box-sizing: border-box;
}

body {
  background: green;
}

.container {
  width: 100%;
  border: 2px solid white;
  padding: 20px;
}

.elemento {
  background-color: white;
  width: 150px;
  height: 150px;

  transition-property: all; /*All = padrão, recomendado; quais propriedades serão utilizadas, exemplo: em um :hover -> vai usar o height? vai usar a cor? vai usar o transform? etc... */
  transition-property: border-radius, transform;

  transition-duration: 2s; /*demora 2s pra que a transição (ease) execute por completo */
  transition-timing-function: ease; /*padrão*/
  transition-delay: 0s; /*Atraso - quanto tempo vai demorar pra executar as 2 propriedades acima*/
 

  transition: transition-property, transition-duration, transition-timing-function, transition-delay; /*Pode ser feito em uma unica linha,reduzindo o código*/
  transition: all 2s ease 0;

  /*Como especificar a ordem de cada coisa na transição, da pra especificar o tipo da transição junto em cada tb (ease, ease-in etc...)*/
  transition: border-radius 1s, transform 2s ease-in;
}


.elemento:hover {
  background-color: red;
  border-radius: 100px;
  transform: translateX(400px);
}



/*

As transições CSS permitem alterar os valores das propriedades sem problemas, por um determinado período.

A transition-timing-function: propriedade especifica a curva de velocidade do efeito de transição.

A propriedade de função de tempo de transição pode ter os seguintes valores:
- ease - especifica um efeito de transição com início lento, rápido e final lento (esse é o padrão);

- linear - especifica um efeito de transição com a mesma velocidade do início ao fim;

- ease-in - especifica um efeito de transição com um início lento.

- ease-out - especifica um efeito de transição com um final lento
.
- ease-in-out - especifica um efeito de transição com início e fim lentos;

- cubic-bezier(n,n,n,n) - permite definir seus próprios valores em uma função de cubic-bezier;


A transition-delay propriedade especifica um atraso (em segundos) para o efeito de transição.

*/