/*Por padrão os elementos ficam 
no eixo principal = canto esquerdo superior, de forma vertical, eixo Y

Flex-box = alinhar elementos flexiveis dentro de uma caixa*/


.container{ /*tag pai - container*/
    height: 500px;

    display:flex; /*pra identificar que ela é um container de flexbox*/
    flex-direction: row; /*qual o eixo principal e qual vai ser o secundario - padrão: row/linha/horizontal (ou seja, e. principal: X e e. secundario: Y)*/
   
    /*flex-direction: row-reverse; horizontal inverso -> lado direito - ultimo ao primeiro
    flex-direction: column; vertical - de cima a baixo
    flex-direction: column-reverse; vertical reverso - do ultimo ao primeiro*/


    /*alinhar elementos ao longo do eixo principal estabelecido*/
    justify-content: center;            /*Agrupa os elementos no centro do eixo principal */

    /*justify-content: flex-start;      Vão se agrupar no inicio do eixo principal - lado esquerdo
    justify-content: flex-end;          Vai para o final do eixo principal - lado direito
    justify-content: space-between;     Espaço entre os elementos -> Distribui os elementos ao longo do eixo principal - coloca o 1 elem. no inicio/canto esquerdo; o 2 no meio; o 3 no final/canto direito 
   
    justify-content: space-around;      Espaço entre os elementos e por fora deles 
                                            -> Distribui os elementos ao longo do eixo principal -
                                            coloca o 1 elem. no inicio/canto esquerdo; o 2 no meio;
                                            o 3 no final/canto direito.
                                            -> Inicio/Lado esquerdo há uma margem (espaçamento);
                                            Final/Lado direito há uma margem (espaçamento). */

    

    /*Alinhando no eixo secundario - no caso na vertical - pois o principal estabelecido foi o row/horizontal 
    align-items = alinha somente no eixo Y, vertical 
    
    align-items: flex-start; alinhando no inicio do eixo secundario
    align-items: flex-end; alinhando no final do eixo secundario
    align-items: center; alinhando no centro do eixo secundario
   
   
    align-items: stretch; Estica (caso não tenha altura pré-definida) - fazendo os elementos ocuparem todo o espaço do eixo secundario*/
    align-items: baseline; /*Alinha os elementos com base no conteudo dentro da tag
                                -> Ex.: os elementos com texto são alinhados juntos com os elementos com texto
                                        e os elementos sem texto são alinhados juntos com os elementos sem texto.*/



    /*Por padrão os elementos tentam ficar alinhados/caber na mesma linha, isso pode ser alterado
    flex-wrap: nowrap; padrão - não há mudança de linha/quebra de linha
    flex-wrap: wrap; Elementos podem DESCER uma linha caso já estejam no final
    flex-wrap: wrap-reverse; Elementos podem SUBIR uma linha caso já estejam no final*/


    /*Da pra colocar o tipo de eixo principal junto com wrap */
    flex-flow: row wrap; /*horizontal com wrap etc... -> serve pra deixar o código menor*/

    /*ALINHAR ELEMENTOS EM MAIS DE UMA LINHA (X ou Y)
    align-content: start;           As duas linhas vão para o inicio/canto superior 
    align-content: end;             As duas linhas vão para o final/canto inferior
    align-content: center;          As duas linhas vão para o centro
    align-content: space-between;   Espaço entre os elementos - no caso, uma vai pra cima e outra pra baixo, com espaço no meio*/
    align-content: space-around;    /*Espaço como se fosse uma margem entre os elementos -> com espaçamento a mais no primeiro e no ultimo elemento - no caso, uma vai pra cima e outra pra baixo, com espaço no meio*/

    /*DEFINIR ESPAÇAMENTO ESPECIFICO ENTRE OS ELEMENTOS*/
    /*gap: 4px;   Espaçamento de 4px tanto em X quanto em Y
      gap: 4px 3px; Espaçamento de 4px entre as linhas (|) e 3px de espaçamento entre as colunas (-)*/

      row-gap: 4px;      /*definindo distancia entre linhas de forma separada do "gap" */
      column-gap: 3px;   /*definindo distancia entre colunas de forma separada do "gap" */
}

/*PROPRIEDADES PARA OS ELEMENTOS FILHOS*/
.div1{
    height: 100px;
    width: 100px;
    background-color: blue;


    order:0; /*0 = padrão segue a ordem do html, enquanto todos forem order 0, ex div 1 vai ser a 1a etc... ; serve para ordenar o elemento*/
  
    order:1; /*caso aja 2 filhos com o mesmo numero do order, eles iram se posicionar de forma intercalada, exemplo: um azul, um vermelho, um azul e um vermelho...
               caso aja 3 filhos com o mesmo numero do order, é como se todos estivessem com order 0, ou seja, volta para o default 
               e volta a levar em conta a ordenação feita no HTML*/

    flex-grow: 0; /*0 = padrão os itens não vão crescer caso aja possibilidade/espaço*/
    flex-grow: 1; /*vai crescer caso tenha espaço/vai ocupar o espaço -> cresce igualmente no máximo que puder*/
    flex-grow: 2; /*cresce 2 vezes mais que o 1, proporcionalmente e assim por diante, não funciona numeros negativos*/


    flex-shrink: 0;/*Não encolhe - não é válido usar números negativos, pois são unidades de proporção*/
    flex-shrink: 1; /*1 = padrão, incolher caso necessario para caber dentro de container, é necessario o container ter uma largura máxima estabelecida*/
    flex-shrink: 2;/*encolhe duas vezes mais*/

    flex-basis: auto; /*auto = padrão (tamanho do conteudo, tamanho minimo), Define o tamanho dos itens -> não pode ter uma altura e uma largura já definida anteriormente*/
    flex-basis: 0;    /*Continua da mesma forma (tamanho do conteudo, tamanho minimo) pois não há nenhuma altura/largura sendo definida*/
    flex-basis: 20px; /*Tamanho de 20px pra altura e largura*/ 

    flex: 0 1 auto; /*Junção de 3 propriedades = flex-grow, flex-shrink e flex-basis (NESSA ORDEM) -> Deixa o código mais compacto*/
    
    align-self: flex-start; /*Vai pro inicio; ordena o alinhamento, ignora os alinhamentos estabelecidos no container/pai e o restante segue o que o container/pai já havia estabelecido*/
    
    align-self: flex-end; /*vai pro final*/
    align-self: center; /*centralizado*/



    /*TREINAR
    Jogos:
    https://mastery.games/flexboxzombies/?utm_source=gabcodes&utm_medium=Pingback

    http://www.flexboxdefense.com/?utm_source=gabcodes&utm_medium=Pingback

    https://flexboxfroggy.com/#pt-br
    
    */
}

.div2{
    height: 100px;
    width: 100px;
    background-color: red;

    order: 1; /*1 = é >0 então vai ficar depois de todos os elem. com order 0, independente da ordem no html*/
}

.div3{
    height: 100px;
    width: 100px;
    background-color: yellow;

    order: -1; /*-1 = <0 logo, vem antes do order 0, ou seja, fica primeiro ele e depois o order 0 na ordem*/

}



