body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
}

.front{
    margin-top: 3vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    background-color: red;
    width: 500px;
    height: 600px;
}

.conteudo {
    margin-top: 10%;
    
    background-color: rgba(0, 4, 255, 0)
}

#imgOrochi{
    position: absolute;
    z-index: 2;
    transform: scale(1.08);
 left: 218px; 
    transition: all 1s ease-in-out;
}
button{
    position: absolute;
}
button:active ~ #imgOrochi{
    position: absolute;
    left: 3px;
}




h1{
    text-align: center;
    margin-left: -90px;
}

.informacao{
    opacity: 0;
    visibility: hidden;
    margin-left: 100px;
    transition: all 1.5s ease-in-out;
}

button:active ~ .informacao{
    opacity: 1;
    visibility: visible;
}