p{

    /* https://www.w3schools.com/cssref/pr_font_font.php */
    font: 900 40px Arial; /*(...) weight, tamanho, familia (...) */

    font-size: 2rem;
    font-size: 10ch; /*ch = largura do caractere 0*/
    
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 50;
    font-style: italic; /*Estilo da fonte*/

    line-height: 4; /*Altura da linha*/
    text-decoration: underline;
    text-transform: capitalize; /*Tranformar texto em*/
    text-indent: 5rem; /*Recuo na primeira linha*/
    text-align: left; /*Alinhamento*/
    text-shadow: 5px 5px 5px gray; /*X, Y, blur e cor*/

    letter-spacing: 10rem; /*Espaçamento entre as letras*/
    word-spacing: 2rem; /*espaçamento entre palavras*/
    word-break: break-all; /*quebrar todas as palavras*/
}


h1 {
    font-size: 22px;
    }
h2 {
    font-style: italic;
    font-size: small;
    }
p#um {
    font-family: verdana;
    font-weight: bold;
    text-indent: 20px; /*Dando recuo no texto*/
    text-shadow: rgb(255, 0, 0) 2px 1px 1px; /*sombra no texto*/ 
    white-space: nowrap;  /*Não permitindo quebra de linha no texto*/  
    word-spacing: 22px; /* Espaçamento entre palavras */ 
    letter-spacing: 4px; /* Espaçamento entre letras */
}

p#MeuParagrafo{
    color: green;
}