/*
Gradientes lineares (goes down/up/left/right/diagonally)
Gradientes radiais (definidos pelo seu centro)
Gradientes Cônicos (girados em torno de um ponto central)

to left, to right, to bottom, to top (p/ esquerda, p/ direita, p/ baixo, p/ cima)
dg: 80deg, 90deg, etc...

*/

#grad {
    width: 400px;
    height: 400px;
    background-image: linear-gradient(to right, red , yellow);/*direção, cor, cor (...)*/
  }

  
#grad2 {
    width: 400px;
    height: 400px;
    background-image: linear-gradient(45deg, yellow , purple);/*direção, cor, cor (...)*/
  }

.caixa{
    width: 400px;
    height: 400px;
    background: radial-gradient(blue, purple, red); 
   
}

.caixa h1{
    background: linear-gradient(to top, red, green);
}

