

                /*CSS Display

div{
    display: block; padrão, um embaixo do outro, pula uma linha, usa todo espaço disponivel na tela - aceita altura e largura etc...
    display: inline; um do lado do outro, ignora largura
    display: inline-block; começa a ficar um do lado do outro, na mesma linha, assim que houver o espaço necessario na tela - aceita altura e largura
    display: none; não apresenta o elemento, mas ele continua presente
    display: grid;
    display: flex;
}



                CSS POSITIONS

div{
    position: static; padrão - respeita a ordem (o fluxo) que os elementos aparecem na tela - Ex.: 1,2,3,4
    position: relative; ela respeita o fluxo (se mantem nele) porém permite utilizar as propriedades top, right, bottom e left para move-lá (e o espaço dela continua no fluxo e nao altera os outros elementos)                 
    position: absolute; segue um elemento pai com position diferente de static ou a propria página - remove o elemento do fluxo e fica por cima - porém permite utilizar as propriedades top, right, bottom e left para move-lá
    position: fixed; remove o elemento do fluxo - mantem o elemento fixo na tela acompanha o scroll - é em relação a toda a tela - bom para menu fixo
    position: sticky; remove o elemento do fluxo - se mantem em uma posição na tela, mas quando o scroll desce e encosta na sua parte superior o elemento se fixa e desce na tela junto com o scroll - sticky = grudar, pegajoso - bom para cabeçalhos de tabelas
}



                Modelo de Caixa CSS (box-model)
div{
    box-sizing: content-box; padrão - adiciona espaço ao tamanho
    box-sizing: border-box; diminui espaço ao tamanhoo - proprio navegador faz o calculo para caber o elemento certinho na borda
} 

