/*É NECESSARIO USAR PREFIXO 
PARA OS NAVEGADORES ANTIGOS RECONHECEREM

-webkit-
-moz-
-o-

*/

#grad, #grad2{
  margin: 0 auto;
  
}

#grad {
    width: 400px;
    height: 400px;
   background: orange;
  }
  
  #grad:hover {
   width: 500px;
   background: green;
   transition: width 2s, background 5s;  /*propriedade a ter a transição e tempo ou usar all (p/ todas + tempo)*/
   -webkit-transition: width 2s, background 5s;
   -moz-transition: width 2s, background 5s;
   -ms-transition: width 2s, background 5s;
   -o-transition: width 2s, background 5s;

   /*
  transition
  transition-delay
  transition-duration
  transition-property
  transition-timing-function
   */
}